<html>
    <head>
        <title>Authorized</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>

    <body>
        <h2 class="done-message"><%= success_message%></h2>
    </body>
</html>
